.centr{
    text-align: center;
    padding: 12px;
}
.container{
    background-color: antiquewhite;
    padding-top: 20px;
    margin: 10px;
}
.bolt{
    font-weight: bold;
}
.success{
    background-color: lightgreen;
}
.fail{
    background-color: lightcoral;
}